---
---
<div class="flex items-center">
  <img 
    src="/images/logo.png" 
    alt="Xelvana - Lotes Patrimoniales" 
    class="h-4 sm:h-6 md:h-8 w-auto transition-opacity hover:opacity-90"
    width="200"
    height="80"
  />
</div>